.node {
	position: relative;
}

.node a.node-edit, .node a.node-delete  {
	position: absolute;
	top: 0;
	display: none;
	height:20px;
	width: 20px;
}

.node:hover a.node-edit, .node:hover a.node-delete  {
	display: block;
}

a.node-delete {
	background: transparent url('icons/delete.png') no-repeat 0px 2px;
	right: 0;
}

a.node-edit {
  background: transparent url('icons/edit.png') no-repeat  0px 2px;
	right: 1.5em;
}