.node {
	position: relative;
}

.node .node-unpublish, .node .node-edit, .node .node-delete  {
	position: absolute;
	top: 0;
	display: none;
}

.node:hover .node-unpublish, .node:hover .node-edit, .node:hover .node-delete  {
	display: block;
	height:20px;
	width: 20px;	
}

.node-delete{
	background: transparent url('icons/delete.png') no-repeat;
	right: 1em;
}

.node-edit{
  background: transparent url('icons/edit.png') no-repeat;
	right: 2em;
}