.node {
	position: relative;
}

.node .node-unpublish, .node .node-edit, .node .node-delete  {
	position: absolute;
	top: 0;
	display: none;
}

	.node:hover .node-unpublish, .node:hover .node-edit, .node:hover .node-delete  {
		display: block;
	}

.node-delete{
	right: 5em;
}

.node-edit{
	right: 3em;
}

.node-unpublish{
	right: 1em;
}

